<!DOCTYPE html>
{include file="header" /}
{include file="topMenu" /}
{include file="menu" /}

  <!-- Content Wrapper. Contains page content -->
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
        <li class="active">当前状态</li>
      </ol>
    </section>

    <!-- Main content -->
<!--    <section class="content">-->
<!--      &lt;!&ndash; Info boxes &ndash;&gt;-->
<!--      <div class="row">-->
<!--        <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="info-box">-->
<!--            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>-->

<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">CPU Traffic</span>-->
<!--              <span class="info-box-number">90<small>%</small></span>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.info-box-content &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.info-box &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.col &ndash;&gt;-->
<!--        <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="info-box">-->
<!--            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>-->

<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">Likes</span>-->
<!--              <span class="info-box-number">41,410</span>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.info-box-content &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.info-box &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.col &ndash;&gt;-->

<!--        &lt;!&ndash; fix for small devices only &ndash;&gt;-->
<!--        <div class="clearfix visible-sm-block"></div>-->

<!--        <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="info-box">-->
<!--            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>-->

<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">Sales</span>-->
<!--              <span class="info-box-number">760</span>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.info-box-content &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.info-box &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.col &ndash;&gt;-->
<!--        <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="info-box">-->
<!--            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>-->

<!--            <div class="info-box-content">-->
<!--              <span class="info-box-text">New Members</span>-->
<!--              <span class="info-box-number">2,000</span>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.info-box-content &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; /.info-box &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.col &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /.row &ndash;&gt;-->
<!--    </section>-->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{include file="footer" /}